* {
    text-decoration: none;
    color: white;
    margin: 0;
}


body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='5000' preserveAspectRatio='none' viewBox='0 0 1440 5000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1300%26quot%3b)' fill='none'%3e%3crect width='1440' height='5000' x='0' y='0' fill='url(%23SvgjsLinearGradient1301)'%3e%3c/rect%3e%3cpath d='M1440 0L1254.34 0L1440 2403.38z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1254.34 0L1440 2403.38L1440 2778.86L1014.4899999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1014.49 0L1440 2778.86L1440 3729.07L596.03 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M596.03 0L1440 3729.07L1440 4044.9300000000003L229.41999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 5000L288.3 5000L0 3164.7799999999997z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 3164.7799999999997L288.3 5000L738.19 5000L0 2088.6899999999996z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 2088.69L738.19 5000L852.4200000000001 5000L0 787.8200000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 787.8199999999997L852.4200000000001 5000L857.1200000000001 5000L0 669.3199999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1300'%3e%3crect width='1440' height='5000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1301'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 158%2c 1)' offset='0.86'%3e%3c/stop%3e%3cstop stop-color='rgba(62%2c 0%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    font-family: 'Kelly Slab', cursive;
    background-color: #14274e;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__header-h1 {
    text-align: center;
    margin: 0;
    color: #fff;
}

.header__nav-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    letter-spacing: 5px;
    line-height: 3;
    font-size: 22px;
    text-align: center;
    background-color: #21094e;
    margin: 15px;

}

.nav__menu-item-1 {
    color: #FF0000;
}

.nav__menu-item-2 {
    color: #FFFF00;
}

.nav__menu-item-3 {
    color: #00FFFF;
}

.nav__menu-item-4 {
    color: #FF00FF;
}

.nav__menu-item-5 {
    color: #00FF00;
}

.titulo__principal {
    color: #ffa500;
    text-align: center;
    font-size: 30px;
    position: relative;
    right: 20px;
}

.imagen {
    width: 100%;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    cursor: pointer;
}

.imagen img {
    width: 100%;
    border-radius: 5px;
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.main__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.section__titulo {
    text-align: center;
}

.card {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    background: #0b032d;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-imagen {
    width: 100%;
}

.card-imagen {
    /* width: 100%; */
    height: 210px;
}

.card:hover {
    background: #0f3057;
}

.content {

    padding: 15px;
}

.aside__container {
    text-align: center;
    cursor: pointer;
}

.aside__container img {
    height: 190px;
    margin-top: 10px;
}

footer {
    text-align: center;
    line-height: 3;
    background-color: #21094e;
}

footer h4 {
    color: #fff;
}

@media screen and (max-width:1308px) {
    .main__container {
        display: flex;
        flex-direction: row;
    }

    .section__container {
        flex-basis: 70%;
    }

    .aside__container {
        flex-basis: 30%;
    }

}

@media screen and (max-width:795px) {

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .section__container {
        margin: auto;
    }

    .section__titulo {
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .header__nav-menu {
        flex-direction: column;
    }

    .header__nav-menu a {
        border-bottom: 9px solid #fff;
        margin-top: 5px;

    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 748px) {
    .aside__container {
        margin: auto;
    }
}

@media screen and (max-width: 1082px) {
    .card {
        display: grid;
    }

    .card-imagen {
        align-self: stretch;
    }
}

@media screen and (max-width:967px) {
    .aside__container {
        margin: auto;
    }

    .section__container {
        margin: auto;
    }
}

@media screen and (max-width:514px) {
    .card {
        height: auto;
        padding: 15px;
    }
}